@model IEnumerable<Inventaire.Models.Inventaire_PC>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Ajouter une référence", "Create")
</p>
<style>
    fieldset {
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 20px;
        width: 600px;
        margin: 0 auto;
    }

    legend {
        font-weight: bold;
        margin-bottom: 10px;
    }

    .form-group {
        margin-bottom: 5px;
    }

    label {
        display: inline-block;
        width: 150px;
        margin-right: 5px;
        text-align: right;
    }

    select, input[type="text"] {
        width: 100%;
        padding: 2px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        margin-bottom: 5px;
    }

    input[type="submit"] {
        padding: 5px 10px;
        background-color: #4CAF50;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        display: block;
        margin: 0 auto;
    }

        input[type="submit"]:hover {
            background-color: #3e8e41;
        }
</style>
@using (Html.BeginForm("Index", "Inventaire_PC", FormMethod.Get))
{
    <form>
        <fieldset>
            <legend>Filtrer les résultats</legend>
            <div class="form-group">
                <label for="Processeur">Processeur:</label>
                @Html.DropDownList("Processeur", "All")
            </div>
            <div class="form-group">
                <label for="Fab">Fabriquant:</label>
                @Html.DropDownList("Fab", "All")
            </div>
            <div class="form-group">
                <label for="OS">OS:</label>
                @Html.DropDownList("OS", "All")
            </div>
            <div class="form-group">
                <label for="Carte_Graphique">Carte Graphique:</label>
                @Html.DropDownList("Carte_Graphique", "All")
            </div>
            <div class="form-group">
                <label for="Taille">Taille:</label>
                @Html.DropDownList("Taille", "All")
            </div>
            <div class="form-group">
                <label for="Stockage">Stockage:</label>
                @Html.DropDownList("Stockage", "All")
            </div>
            <div class="form-group">
                <label for="Type_écran">Type écran:</label>
                @Html.DropDownList("Type_écran", "All")
            </div>
            <div class="form-group">
                <label for="RAM">RAM:</label>
                @Html.DropDownList("RAM", "All")
            </div>
            <div class="form-group">
                <label for="Connectique">Connectique:</label>
                @Html.DropDownList("Connectique", "All")
            </div>
            <div class="form-group">
                <label for="SearchString">Référence:</label>
                @Html.TextBox("SearchString")
            </div>
            <input type="submit" value="Filtrer" class="btn" />
        </fieldset>
    </form>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Référence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fabriquant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Processeur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Taille)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stockage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type_écran)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RAM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Carte_graphique)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Connectique)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantité)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Localisation)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Référence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fabriquant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Processeur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Taille)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stockage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type_écran)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RAM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carte_graphique)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Connectique)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantité)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localisation)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
